parameters:

    level: 5

    paths:
        - src
    #    - tests

    #excludePaths:
    #    - /

    inferPrivatePropertyTypeFromConstructor: true
    treatPhpDocTypesAsCertain: false

    #symfony:
    #    container_xml_path: '%rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml'

    #doctrine:
    #	objectManagerLoader: tests/object-manager.php
    #	allowNullablePropertyForRequiredField: true

    checkUninitializedProperties: true

    checkFunctionNameCase: false

    reportAlwaysTrueInLastCondition: false

    reportMaybesInPropertyPhpDocTypes: false
    reportMaybesInMethodSignatures: false

    strictRules:
    	disallowedLooseComparison: false
    	booleansInConditions: false
    	uselessCast: false
    	requireParentConstructorCall: true
    	disallowedBacktick: false
    	disallowedEmpty: false
    	disallowedImplicitArrayCreation: false
    	disallowedShortTernary: false
    	overwriteVariablesWithLoop: false
    	closureUsesThis: false
    	matchingInheritedMethodNames: true
    	numericOperandsInArithmeticOperators: true
    	strictFunctionCalls: true
    	switchConditionsMatchingType: false
    	noVariableVariables: false

    ignoreErrors:
        # Compatibility checks for older Symfony versions, which are always true with the latest Symfony version
        -
            identifier: function.alreadyNarrowedType
            message: '#^Call to function method_exists\(\)#'
            reportUnmatched: false
        # Runtime check, as the enum class comes from user configuration
        -
            identifier: function.alreadyNarrowedType
            path: src/ParameterTypes/EnumType.php
        # These traits are meant to be used by the settings classes of the bundle users
        -
            identifier: trait.unused
